@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;

  src: url("../fonts/open-sans-v18-latin-regular.woff2") format("woff2"),
  url("../fonts/open-sans-v18-latin-regular.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  font-style: normal;

  src: url("../fonts/open-sans-v18-latin-700.woff2") format("woff2"),
  url("../fonts/open-sans-v18-latin-700.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Banny";
  font-style: normal;

  src: url("../fonts/Banny-LightRound.woff2") format("woff2"),
  url("../fonts/Banny-LightRound.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Banny";
  font-style: normal;

  src: url("../fonts/Banny-Round.woff2") format("woff2"),
  url("../fonts/Banny-Round.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Banny";
  font-style: normal;

  src: url("../fonts/Banny-BoldRound.woff2") format("woff2"),
  url("../fonts/Banny-BoldRound.woff") format("woff");
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 1440px;

  font-family: "Open Sans", Arial, sans-serif;

}

img {
  max-width: 100%;
  height: auto;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.page-header {
  position: relative;

  box-sizing: border-box;
  min-height: 800px;
  padding-top: 40px;

  color: #ffffff;

  background-color: #000000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
}

.page-header::after {
  content: "";
  position: absolute;
  top: 203px;
  left: 50%;

  display: block;
  width: 1px;
  height: 454px;

  background-color: rgba(255, 255, 255, 0.2);
}

.page-header::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;

  display: block;
  width: 1px;
  height: 85px;

  background-color: rgba(255, 255, 255, 0.2);
}

.container {
  position: relative;

  box-sizing: border-box;
  width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
}

.main-menu__list {
  display: flex;
  justify-content: space-between;
}

.main-menu__col {
  position: relative;

  display: flex;
  justify-content: space-around;
  width: 530px;

  list-style: none;
  margin: 0;
  padding: 0;
}

.main-menu__col:after {
  content: "";
  position: absolute;
  bottom: -42px;
  left: 0;

  display: block;
  width: 530px;
  height: 1px;

  background-color: rgba(255, 255, 255, 0.2);
}

.main-menu__col:before {
  content: "";
  position: absolute;
  bottom: -741px;
  left: 214px;

  display: block;
  width: 1px;
  height: 699px;

  background-color: rgba(255, 255, 255, 0.2);
}

.main-menu__col:last-of-type:before {
  right: 215px;
  left: auto;;
}


.main-menu__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.main-menu__link:hover {
  color: #e8c300;
}

.main-menu__link:focus {
  color: #e8c300;
}

.main-menu__link:active {
  opacity: 0.5;
}

.logo {
  position: absolute;
  top: -15px;
  left: 50%;

  transform: translateX(-50%);
}

.page-header__title {
  margin-top: 272px;
}

.page-header__text {
  display: block;
}

.page-header__text--small {
  margin-bottom: 21px;
  padding-left: 10px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 6px;;
}

.page-header__text--big {
  font-size: 96px;
  line-height: 1;
  font-family: "Banny", Arial, sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.6px;;
}

.page-header__timetable {
  position: absolute;
  top: 404px;
  left: -36px;

  margin: 0;

  font-weight: 700;
  font-size: 12px;
  line-height: 1;

  transform: rotate(-90deg);
}

.page-header__btns {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 58px;
}

.page-header__btns:after {
  content: "";
  position: absolute;
  top: -37px;
  left: 50%;

  display: block;
  width: 60px;
  height: 5px;

  background-color: #e8c300;
  border-radius: 50px;
  transform: translate(-50%);
}

.btn {
  box-sizing: border-box;
  padding: 23px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  color: #ffffff;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.page-header__btn {
  width: 200px;

  border: 1px solid rgba(255, 255, 255, 0.5);
}

.page-header__btn:first-of-type {
  margin-right: 40px;
}

.page-header__btn:hover {
  opacity: 0.7;
}

.page-header__btn:focus {
  opacity: 0.7;
}

.page-header__btn:active {
  opacity: 0.5;
}

.btn--yellow {
  background-color: #e8c300;
  border: 1px solid #e8c300;
}

.social-list {
  position: absolute;
  top: 299px;
  right: 77px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.social-list__item {
  margin-bottom: 18px;
}

.social-list__link {
  display: block;
  width: 60px;
  height: 60px;

  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.social-list__link--fb {
  background-image: url("../img/facebook.svg");
}
.social-list__link--tw {
  background-image: url("../img/twitter.svg");
}
.social-list__link--inst {
  background-image: url("../img/instagram.svg");
}

.social-list__link:hover {
  opacity: 0.7;
}
.social-list__link:focus {
  opacity: 0.7;
}
.social-list__link:active {
  opacity: 0.5;
}

.page-header__arrow {
  position: relative;

  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-top: 92px;

  background-color: #ffffff;
  border-radius: 50%;
}

.page-header__arrow::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;

  display: block;
  width: 58px;
  height: 58px;

  border: 1px solid #ffffff;
  border-radius: 50%;
}

.page-header__arrow::after {
  content: "";
  position: absolute;
  top: calc(50% - 3px);
  left: 50%;

  display: block;
  width: 9px;
  height: 9px;

  border: 3px solid #333333 ;
  border-top: transparent;
  border-right: transparent;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.page-header__arrow:hover, 
.page-header__arrow:focus {
  opacity: 0.7;
}

.page-header__arrow:active {
  opacity: 0.4;
}

.about {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.section__wrapper--black {
  position: relative;

  padding-top: 34px;
  padding-bottom: 100px;
}

.section__wrapper--black::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;

  display: block;
  width: 1px;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.2);
}

.section__col {
  width: 50%;

  text-align: center;
}

.section__col--info {
  width: 600px;
  padding-top: 93px;
}

.section__col--info-right {
  margin-left: 19px;
  padding-top: 86px;
}

.section__title--big {
  font-size: 36px;
  line-height: 1;
  font-family: "Banny", Arial, sans-serif;
  text-transform: uppercase;
}

.about__title {
  margin-bottom: 33px;
  margin-left: 56px;
}

.about__img {
  margin-left: 81px;
}

.section__title--big {
  position: relative;
}

.section__title--big:after {
  content: "";
  position: absolute;
  top: 50px;
  left: 50%;

  display: block;
  width: 60px;
  height: 5px;

  background-color: #e8c300;
  border-radius: 50px;
  transform: translate(-50%);
}

.section__title--small {
  width: 100%;
  margin-bottom: 43px;

  font-weight: 700;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.section__title--white {
  color: #ffffff;
}

.section__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
}

.section__text--small {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.9;
}

.section__text--black {
  color: #000000;
}

.section__text--white {
  color: #ffffff;
}

.section__img {
  display: block;

  border-radius: 5px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.section__col--img {
  position: relative;

  height: fit-content;
}

.section__col--img:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -42px;

  display: block;
  box-sizing: border-box;
  width: 250px;
  height: 250px;

  border: 20px solid #e8c300;
  border-radius: 5px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
  transform: translateY(-50%);
}

.section__col--img-left:after {
  right: 0;
  left: 0;
}

.section__contacts {
  width: 100%;

  font-size: 12px;
  line-height: 1;
  text-align: center;
}

.section__contacts a {
  color: rgb(51, 51, 51, 0.5);
  text-decoration: none;
}

.section__contacts--white a {
  color: rgb(255, 255, 255, 0.5);
  text-decoration: none;
}

.section__contacts--gray {
  color: rgb(51, 51, 51, 0.5);
}
.section__contacts--white {
  color: rgba(255, 255, 255, 0.5);;
}

.section__contacts--bold {
  font-weight: 700;
}

.section--black {
  position: relative;

  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section--black::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 426px);

  display: block;
  width: 1px;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.2);
}

.section--black::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% + 424px);

  display: block;
  width: 1px;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.2);
}


.form__input {
  padding: 0 21px;

  background: #e5e5e5;
  border: none;
  border-radius: 5px;
}

.form__input::placeholder {
  font-size: 14px;
  color: rgba(51, 51, 51, 0.5);
}

.form__input:hover {
  opacity: 0.7;
}



.team {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url("../img/specialty's-bg-1.jpg") ;
}

.team__img {
  margin-left: 113px;
}

.book {
  padding-top: 100px;
  padding-bottom: 31px;
}

.book__img {
  margin-left: 54px;
}

.book__form {
  display: grid;
  width: 565px;
  margin: 0 auto;
  margin-top: 40px;

  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 60px);
}

.book_btn {
  grid-column: 1 / -1;
}

.book_btn:hover, 
.book_btn:focus {
  opacity: 0.7;
}

.book_btn:active {
  opacity: 0.5;
}

.book__select-container {
  position: relative;
}

.book__select {
  width: 100%;
  height: -webkit-fill-available;

  font-size: 14px;
  color: rgba(51, 51, 51, 0.5);
}

.book__select option {
  color: #000000;
}

.book__select option:first-of-type {
  display: none;
}

.book__select-container::before {
  content: "";
  position: absolute;
  top: 27px;
  right: 21px;

  display: block;
  width: 13px;
  height: 13px;

  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;

  pointer-events: none;
}

.book__col--info {
  margin-left: 38px;
  padding-top: 36px;
}

.book__col--img::after {
  top: 50%;
  right: -3px;

  width: 226px;
  height: 225px;
}

.book__contacts {
  margin-top: 45px;
}

.spec {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url("../img/specialty's-bg.jpg") ;
}

.spec__img {
  margin-left: 126px;
}

.spec__col--img::after {
  height: 261px;
}

.spec__col--info {
  margin-left: 40px;
}

.spec__container {
  position: relative;
}
.spec__radio {
  display: none;
}
.spec__control {
  position: absolute;
  bottom: 55px;
  left: 49.7%;
}

.spec__control:nth-of-type(1) {
  transform: translateX(-30px);
}

.spec__control:nth-of-type(3) {
  transform: translateX(30px);
}

.spec__control::before {
  content: "";
  position: absolute;

  display: block;
  width: 10px;
  height: 10px;

  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
}

.spec__radio:checked + .spec__control::before {
  opacity: 1;
}

.spec__img {
  display: none;
}

.spec__radio:nth-of-type(1):checked ~ .spec__col--img .spec__img:nth-of-type(1) {
  display: block;
}

.spec__radio:nth-of-type(2):checked ~ .spec__col--img .spec__img:nth-of-type(2) {
  display: block;
}

.spec__radio:nth-of-type(3):checked ~ .spec__col--img .spec__img:nth-of-type(3) {
  display: block;
}

.menu {
  padding-top: 76px;
  padding-bottom: 72px;
}

.menu__container {
  display: block;
}

.menu__title {
  text-align: center;
}

.menu__paragraph {
  width: 565px;
  margin: 0 auto;
  margin-top: 43px;
  margin-bottom: 51px;

  text-align: center;
}

.menu_btns {
  display: flex;
  flex-wrap: wrap;
  width: 840px;
  margin: 0;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.menu__btn {
  margin-bottom: 10px;
}

.menu__btn button {
  width: 120px;
  min-height: 50px;

  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  border-right: 1px solid rgba(51, 51, 51, 0.2);;
}

.menu__btn:nth-of-type(7n) button {
  border-right: none;
}

.menu__btn:last-of-type button {
  border-right: none;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  margin-top: 35px;
  padding: 0;

  list-style: none;
}

.menu__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 359px;
  margin-bottom: 27px;
}

.menu__item-title {
  position: relative;

  order: 1;
  width: auto;
  margin: 0;
  margin-top: 6px;
  margin-right: 5px;
  margin-bottom: 3px;

  font-size: 18px;
  line-height: 1;
  font-family: "Banny", Arial, sans-serif;
  text-transform: uppercase;
}

.menu__item-delimiter {
  flex-grow: 1;
  order: 2;
  align-self: flex-end;
  width: auto;
  margin-top: 6px;
  margin-bottom: 3px;

  line-height: 1;
  letter-spacing: 4px;

  border-bottom: 4px dotted #000000;
}

.menu__text {
  order: 3;
  width: 100%;
  margin: 0;

  font-size: 12px;
  color: #999999;
}

.menu__price {
  order: 2;
  align-self: flex-end;
  margin: 0;
  margin-top: 6px;
  margin-bottom: 3px;
  margin-left: 5px;

  font-size: 18px;
  line-height: 1;
  font-family: "Banny", Arial, sans-serif;
  text-transform: uppercase;
}

.section--black {
  background-color: #ffffff;
}

.events {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url("../img/specialty's-bg.jpg") ;
}

.events__container {
  padding-bottom: 32px;
}

.events__cols::after {
  top: calc(50%);
}


.events__cols--right::after {
  right: 0;
}

.events__img-wrapper {
  position: relative;

  width: fit-content;
  margin-left: 124px;
}

.events__img-wrapper--right {
  margin-left: 41px;
}

.events__title {
  position: absolute;
  top: 50%;
  right: -200px;

  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 30px 20px 28px;

  font-size: 24px;
  line-height: 1;
  font-family: "Banny", Arial, sans-serif;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  border-radius: 5px 5px 0 0;
  transform: translateY(-50%) rotateZ(90deg);
}

.events__img-wrapper--right .events__title {
  left: -197px;

  transform: translateY(-50%) rotateZ(-90deg);
}

.events__contacts {
  margin-top: 44px;
}

.gallery__container {
  padding: 0;
}

.gallery__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.gallery__img {
  filter: saturate(0);
  z-index: 0;
}

.gallery__item:hover {
  filter: saturate(1);
  transform: scale(1.1);
  z-index: 1;
}

.contacts__container {
  display: block;
  margin-bottom: 100px;
  padding-top: 74px;
}

.contacts__title {
  text-align: center;
}

.contacts__text {
  width: 565px;
  margin: 0 auto;
  margin-top: 43px;
  margin-bottom: 49px;

  text-align: center;
}

.contacts__fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.contacts__field-wrapper {
  display: grid;

  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60px 120px;
}

.contacts__textarea {
  padding: 18px;

  background-color: #e5e5e5;
  border: none;
  border-radius: 5px;

  resize: none;

  grid-column: 1 / -1;
}

.contacts__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.contacts__btn {
  width: 50%;
}
.contacts__data {
  position: relative;

  margin: 0;
  padding-left: 20px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: #999999;
}

.contacts__data::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -2px;

  display: block;
  width: 15px;
  height: 15px;

  background-image: url("../img/geotag.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.contacts__data--phone {
  margin-left: 53px;
}

.contacts__data--phone::before {
  top: 1px;
  left: -38px;

  background-image: url("../img/phone.svg");
}

.contacts__data--email {
  margin-right: 5px;
  margin-left: auto;
}

.contacts__data--email::before {
  top: 1px;
  left: -12px;

  background-image: url("../img/email.svg");
}

.contacts__link {
  color: #999999;
  text-decoration: none;
}

.contacts__img {
  display: block;
  margin: 0 auto;
}

.page-footer {
  background-color: #000000;
  padding: 44px 0 43px;
}

.page-footer__copy {
  margin: 0;
  text-align: center;
  color: #8C8C8C;
  font-size: 12px;
}

.page-footer__link {
  font-weight: 700;
  color: #8C8C8C;
  text-decoration: none;
}

.booking {
  display: none;
}

.success-wnd {
  display: none;
}
